.work {
    display: flex;
    margin-bottom: 40px;
}

.work .time {
    margin-top: -2px;
    font-weight: 300;
    margin-bottom: 0px;
    color: #ff9a5b;
    font-size: 11pt;
    min-width: fit-content; 
}

@media (min-width: 1025px) {
    .work .time {
        width: 22vh;
    }
}
@media (max-width: 1024px) {
    .work .time {
        width: 30vh;
    }
}
@media (max-width: 767px) {
    .work .time {
        width: 60vh;
    }
}
@media (max-width: 467px) {
    .work {
        display: block;
        margin-bottom: 40px;
    }
    .work .time {
        width: 100%;
    }
    .work .infos {
        width: 100%;
    }
}

.work .title {
    margin-top: -4px;
    font-size: 11pt;
    line-height: 27px;
    font-weight: 300;
    margin-bottom: 5px;
}

.work .title hr {
    border: none;
    height: 0.1px;
    background-color: #999;
    margin-bottom: 10px;
    margin-top: 1px;
}

.work .content span {
    color: #fff;
}